# Test: Clustering

## Load Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/heart_failure_clinical_records_dataset.csv')

In [3]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [5]:
data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

## Prepare Data

In [6]:
def min_max_scaling(df):
	for column in df.columns:
		min_col = df[column].min()
		max_col = df[column].max()
		df[column] = (df[column] - min_col) / (max_col - min_col)
	return df

In [7]:
data_scaled = min_max_scaling(data.drop(['DEATH_EVENT'], axis=1))
data_scaled.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,0.636364,0.0,0.071319,0.0,0.090909,1.0,0.290823,0.157303,0.485714,1.0,0.0,0.000000
1,0.272727,0.0,1.000000,0.0,0.363636,0.0,0.288833,0.067416,0.657143,1.0,0.0,0.007117
2,0.454545,0.0,0.015693,0.0,0.090909,0.0,0.165960,0.089888,0.457143,1.0,1.0,0.010676
3,0.181818,1.0,0.011227,0.0,0.090909,0.0,0.224148,0.157303,0.685714,1.0,0.0,0.010676
4,0.454545,1.0,0.017479,1.0,0.090909,0.0,0.365984,0.247191,0.085714,0.0,0.0,0.014235

## Clustering

In [8]:
from sklearn.metrics import silhouette_score

### K-Means

In [9]:
from sklearn.cluster import KMeans

In [10]:
def apply_kmeans(data, n_clusters=3):
	kmeans = KMeans(n_clusters=n_clusters, random_state=0)
	clusters = kmeans.fit_predict(data)
	return clusters

In [11]:
# Apply K-Means
kmeans_clusters = apply_kmeans(data_scaled)

In [12]:
score_kmeans = silhouette_score(data_scaled, kmeans_clusters)
print("Silhouette Score for K-Means:", score_kmeans)

Silhouette Score for K-Means: 0.1662053704384958

### Hierarchical Clustering

In [13]:
from sklearn.cluster import AgglomerativeClustering

In [14]:
def apply_hierarchical(data, n_clusters=3):
	clustering = AgglomerativeClustering(n_clusters=n_clusters)
	clusters = clustering.fit_predict(data)
	return clusters

In [15]:
hierarchical_clusters = apply_hierarchical(data_scaled)

In [16]:
score_hierarchical = silhouette_score(data_scaled, hierarchical_clusters)
print("Silhouette Score for Hierarchical Clustering:", score_hierarchical)

Silhouette Score for Hierarchical Clustering: 0.17219835825636826

### DBSCAN

In [17]:
from sklearn.cluster import DBSCAN

In [18]:
def apply_dbscan(data, eps=0.5, min_samples=5):
	dbscan = DBSCAN(eps=eps, min_samples=min_samples)
	clusters = dbscan.fit_predict(data)
	return clusters

In [19]:
dbscan_clusters = apply_dbscan(data_scaled)

In [20]:
score_dbscan = silhouette_score(data_scaled, dbscan_clusters)
print("Silhouette Score for DBSCAN:", score_dbscan)

Silhouette Score for DBSCAN: 0.3916184770146636

### Mean Shift

In [21]:
from sklearn.cluster import MeanShift

In [22]:
def apply_mean_shift(data, bandwidth=None):
	mean_shift = MeanShift(bandwidth=bandwidth)
	clusters = mean_shift.fit_predict(data)
	return clusters

In [23]:
mean_shift_clusters = apply_mean_shift(data_scaled)

### Spectral Clustering

In [24]:
from sklearn.cluster import SpectralClustering

In [25]:
def apply_spectral(data, n_clusters=3):
	spectral = SpectralClustering(n_clusters=n_clusters, random_state=0)
	clusters = spectral.fit_predict(data)
	return clusters

In [26]:
spectral_clusters = apply_spectral(data_scaled)

In [27]:
score_spectral = silhouette_score(data_scaled, spectral_clusters)
print("Silhouette Score for Spectral Clustering:", score_spectral)

Silhouette Score for Spectral Clustering: 0.1838096107043599

### Agglomerative Clustering

In [28]:
def apply_agglomerative(data, n_clusters=3):
	agglomerative = AgglomerativeClustering(n_clusters=n_clusters)
	clusters = agglomerative.fit_predict(data)
	return clusters

In [29]:
agglomerative_clusters = apply_agglomerative(data_scaled)

In [30]:
score_agglomerative = silhouette_score(data_scaled, agglomerative_clusters)
print("Silhouette Score for Agglomerative Clustering:", score_agglomerative)

Silhouette Score for Agglomerative Clustering: 0.17219835825636826

## Evaluate

In [31]:
def evaluate_clustering_algorithms(data, cluster_labels):
	scores = {}
	for algorithm, labels in cluster_labels.items():
		if len(set(labels)) > 1:
			score = silhouette_score(data, labels)
			scores[algorithm] = score
		else:
			scores[algorithm] = None
	return pd.DataFrame(list(scores.items()), columns=['Algorithm', 'Silhouette Score'])

In [32]:
cluster_labels = {
	'K-Means': kmeans_clusters,
	'Hierarchical': hierarchical_clusters,
	'DBSCAN': dbscan_clusters,
	'Mean Shift': mean_shift_clusters,
	'Spectral': spectral_clusters,
	'Agglomerative': agglomerative_clusters
}

In [33]:
evaluation_results = evaluate_clustering_algorithms(data_scaled, cluster_labels)
evaluation_results

       Algorithm  Silhouette Score
0        K-Means          0.166205
1   Hierarchical          0.172198
2         DBSCAN          0.391618
3     Mean Shift               NaN
4       Spectral          0.183810
5  Agglomerative          0.172198